/**
    fuentes.css
    Uso de fuentes de google
    Julio Antonio Ramos Gago
**/
h1{
    font-family: 'Praise';
}
h2{
    font-family: 'Road Rage';
}
h3{
    font-family: 'Yuji Mai';
}
h4{
    font-family: 'Estonia';
}